# Aufgabe 5.0

In [114]:
# a
1:10 

# b
rep(2,5)

# c
seq(2,4,0.2)


# d
sqrt(c(1,9,25,100))

# e
z <- c(8, 13, 21)
3*z

# f
table(c(1,3,3,1,4,1,1,2)) # logischer als table(1,3,3,1,4,1,1,2)

# g
c(1,2,3,5,7) %in% c(1,3,4)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 2 2 2 2 2

 [1] 2.0 2.2 2.4 2.6 2.8 3.0 3.2 3.4 3.6 3.8 4.0

[1]  1  3  5 10

[1] 24 39 63

1 2 3 4
4 1 2 1

[1]  TRUE FALSE  TRUE FALSE FALSE

# Aufgabe 5.1

In [115]:
# a
z <- c(0:10)
names(z) <- letters[seq(z)]
cat("A:\n")
print(z)
cat("\n")


# b
z[z%%2 != 0] <- 100
cat("B:\n")
print(z)
cat("\n")

# c
z[!names(z) %in% c("c", "d", "e")] <- -1
cat("C:\n")
print(z)

A:
 a  b  c  d  e  f  g  h  i  j  k
 0  1  2  3  4  5  6  7  8  9 10

B:
  a   b   c   d   e   f   g   h   i   j   k
  0 100   2 100   4 100   6 100   8 100  10

C:
  a   b   c   d   e   f   g   h   i   j   k
 -1  -1   2 100   4  -1  -1  -1  -1  -1  -1

# Aufgabe 5.2

In [137]:
# a
tmp_max <- 10000
cat("A:\n")
length(seq(tmp_max)[seq(tmp_max) %% 11 == 0 & seq(tmp_max) %% 5 != 0])
cat("\n")

# b


# c


# d

A:

[1] 728